.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card {
  min-height: 25rem;
  background-color: #fefefe;
}

.btn {
  border: 2px solid rgb(255, 0, 0);
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.pokemonImg {
  min-height: 128px;
}

/* Green */
.success {
  border-color: #000000;
  color: green;
}

.success:hover {
  background-color: #04aa6d;
  color: white;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
}
.btn :hover{
  background-color: red;
  
}

